{{ form_start(form) }}

{# Decompose if you want to order the fields in a different order to that of the form. #}
{{ form_row(form.nickname) }}
{{ form_row(form.email) }}
{{ form_row(form.password )}}
{{ form_row(form.picture)  }}
{{ form_row(form.roles)  }}

<button class="btn btn-success mb-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}