{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block main %}

	<h1 class="text-center mt-3 mb-3 text-uppercase text-white">Les Tâches</h1>

	{{ include('_flash_messages.html.twig')  }}
	
	<a class="btn btn-success" href="{{ path('back_task_new') }}">Ajouter une tâche</a>

	<a class="btn btn-primary float-end" href="{{ path('back_home') }}">Retour</a>


	<table class="table table-hover table-responsive text-center text-white">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Description</th>
				<th>Priorité</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for task in tasks %}
				<tr>
					<td>
						{{ task.id }}
					</td>
					<td>
						{{ task.name }}
					</td>
					<td>
						{{ task.descritpionTask}}
					</td>
					<td>
						{{ task.priority }}
					</td>
				

					<td>
						<div class="d-flex justify-content-end">
							<a id="button_show" class="btn btn-sm btn btn-warning m-1" href="{{ path('back_task_show', {'id': task.id}) }}">détails</a>
						   <a id="button_edit" class="btn btn-sm btn btn-warning m-1" href="{{ path('back_task_edit', {'id': task.id}) }}">modifier</a>
						</div>	
					</td>

	
				</tr>

		
			{% else %}
				<tr>
					<td colspan="10">Aucun enregistrement trouvé.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
