{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block main %}

	{{ include('_flash_messages.html.twig')  }}

	<h1 class="text-center mt-3 mb-3 text-uppercase text-white">Les Projets</h1>

	<a class="btn btn-success" href="{{ path('back_project_new') }}">Ajouter un projet</a>

	<a class="btn btn-primary float-end" href="{{ path('back_home') }}">Retour</a>


	<table class="table table-hover table-responsive text-center text-white">
		<thead>
			<tr>
				<th>#</th>
				<th>Titre</th>
				<th>Description</th>
				<th>Utilisateur</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for project in projects %}
				<tr>
					<td>
						{{ project.id }}
					</td>
					<td>
						{{ project.title }}
					</td>
					<td>
						{{ project.descriptionProject }}
					</td>
					<td>
						{{ project.user.nickname }}
					</td>
			
					<td>
						<div class="d-flex justify-content-end">
							<a id="button_show" class="btn btn-sm btn btn-warning m-1" href="{{ path('back_project_show', {'id': project.id}) }}">détails</a>
						   <a id="button_edit" class="btn btn-sm btn btn-warning m-1" href="{{ path('back_project_edit', {'id': project.id}) }}">modifier</a>
						</div>
					</td>
				

				</tr>

			{% else %}
				<tr>
					<td colspan="10">Aucun enregistrement trouvé.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	


	

{% endblock %}
